<h1>Web Series</h1>

<div *ngIf="seriesList.length >0">
  <h2>Series without types</h2>

  <app-content-card *ngFor="let Item of (seriesList | seriesType: '');let isLast = last" [contentItem]="Item"
    [class.noType]="Item" [isLastItem]="isLast" [ngClass]="{'selected-content': searchedItemId === Item.id}">
  </app-content-card>

  <h2>Sitcom Series</h2>
  <app-content-card *ngFor="let Item of (seriesList | seriesType: 'sitcom');let isLast = last" [contentItem]="Item"
    [class.firstType]="Item" [isLastItem]="isLast" [ngClass]="{'selected-content': searchedItemId === Item.id}">
  </app-content-card>
  <h2>Comedy Series</h2>
  <app-content-card *ngFor="let Item of (seriesList | seriesType: 'comedy');let isLast = last" [contentItem]="Item"
    [class.secondType]="Item" [isLastItem]="isLast" [ngClass]="{'selected-content': searchedItemId === Item.id}">
  </app-content-card>
  <h2>Crime Series</h2>
  <app-content-card *ngFor="let Item of (seriesList | seriesType: 'crime');let isLast = last" [contentItem]="Item"
    [class.thirdType]="Item" [isLastItem]="isLast" [ngClass]="{'selected-content': searchedItemId === Item.id}">
  </app-content-card>
</div>
