div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.center {
  margin: 20px auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}

#hashtag-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#hashtag-table td,
#hashtag-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#hashtag-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fff;
  color: black;
}

