<div class="center">
  <h2>Add Web Series Content</h2>

  <form style="text-align: left;">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" #title placeholder="Title...">

    <label for="body">Body</label>
    <input type="text" id="body" name="body" #body placeholder="Body...">

    <label for="author">Author</label>
    <input type="text" id="author" name="author" #author placeholder="Author...">

    <label for="imagelink">ImageLink</label>
    <input type="text" id="imagelink" name="imagelink" #imagelink placeholder="ImageLink...">

    <label for="type">Type</label>
    <select id="type" name="type" #type>
      <option value="sitcom">Sitcom</option>
      <option value="comedy">Comedy</option>
      <option value="crime">Crime</option>
    </select>
    <h4>Hashtags</h4>
    <div style="padding: 5px;">
      <div style="display:flex; ">
        <label for="hastag" style="margin-right: 10px;">Add Hashtag</label>
        <input type="text" id="hastag" name="hastag" #hashtag placeholder="Hashtag...">
        <span (click)="addHashTag(hashtag.value);" class="addButton">+</span>
      </div>
      <table id="hashtag-table" *ngIf="hashtags.length>0">
        <tr>
          <th>Hashtag</th>
          <th>Remove</th>
        </tr>
        <tr *ngFor="let hashtag of hashtags">
          <th>{{hashtag}}</th>
          <th (click)="removeHashTag(hashtag);" style="color:red;">X</th>
        </tr>
      </table>
    </div>
    <button type="button" (click)="addContent(title.value,body.value,author.value,imagelink.value,type.value);
      title.value='';body.value = '';author.value = '';imagelink.value = '';type.value='';hashtag.value=''">
      Add Content
    </button>
  </form>

</div>
