<div class="card" *ngIf="content">
  <img src="{{content.imagelink ?content.imagelink : defaultImagePath }}" alt="content">
  <div class="container">
    <h3> <b>ID: {{content.id}}</b></h3>
    <h4> <b>Title: {{content.title}}</b></h4>
    <p><b>Body:</b> {{content.body}}</p>
    <b>Author:</b>
    <p class="author"> {{content.author}}</p>
    <h3 *ngIf="content.type"><b>Type:</b> {{content.type}}</h3>
    <label><b>Hashtags:</b></label>
    <div *ngFor="let tag of content?.hashtags">
      <div class="tag">{{ tag }}</div>
    </div>
    <div style="display: flex;justify-content: space-around;margin-top: 20px;">
      <button (click)="previousContent()" mat-raised-button color="accent" style=" background-color: red;"
        *ngIf="content.id && content.id > 0">Previous
        Content</button>
      <button [routerLink]="'/list'" mat-raised-button color="primary">Go To Content List</button>
      <button *ngIf="content.id || content.id === 0" mat-raised-button color="warn"
        (click)="updateContent(content.id)">Update
        Content</button>
    </div>
  </div>
</div>
