<mat-card class="card" *ngIf="content">
  <mat-card-header>
    <mat-card-title>{{content.title}} (ID: {{content.id}})</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{content.imagelink ?content.imagelink : defaultImagePath }}" alt="content">
  <mat-card-content>
    <p style="padding:10px">{{content.body}}</p>
    <b>Author:</b>
    <p class="author"> {{content.author}}</p>
    <h3 *ngIf="content.type"><b>Type:</b> {{content.type}}</h3>
    <label><b>Hashtags:</b></label>
    <mat-chip-list cdkDropList cdkDropListOrientation="horizontal">
      <mat-chip cdkDrag *ngFor="let tag of content?.hashtags">
        {{ tag }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="previousContent()" mat-raised-button color="accent" style=" background-color: red;"
      *ngIf="content.id && content.id > 0">Previous
      Content</button>
    <button [routerLink]="'/list'" mat-raised-button color="primary">Go To Content List</button>
    <button *ngIf="content.id || content.id === 0" mat-raised-button color="warn"
      (click)="updateContent(content.id)">Update
      Content</button>
  </mat-card-actions>
</mat-card>
