<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Search Author by ID</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>ID</mat-label>
      <input matInput type="number" placeholder="ID" #searchBox>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)=getFilteredWebSeries(searchBox.value)>Submit</button>
  </mat-card-actions>
</mat-card>
<div *ngIf="content">
  <app-content-card [contentItem]="content"></app-content-card>
</div>
<mat-card class="card" *ngIf="!content && isUserTyped">
  <mat-card-content>
    <h3>Content Not Found</h3>
  </mat-card-content>
</mat-card>
