<div class="search-box">
  <p>Search Author by ID</p>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>ID</mat-label>
    <input matInput type="number" placeholder="ID" #searchBox>
  </mat-form-field>
  <button mat-raised-button color=" primary" (click)=getFilteredWebSeries(searchBox.value)>Submit</button>
  <p *ngIf="result == 'Not Exist'" class="not-Exist">{{ result }} </p>
</div>
<div *ngIf="content">
  <app-content-card [contentItem]="content"></app-content-card>
</div>
<div *ngIf="!content" class="center">
  <h3>Content Not Found</h3>
</div>
