<mat-card class="card content-card" *ngIf="contentItem">
  <mat-card-header>
    <mat-card-title appHighlightImportantData [colour]="titleColour" [isTitle]="true" (click)="goToDetailsPage()">Shiba
      {{contentItem?.title }}
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image (click)="displayId()" src="{{contentItem.imagelink ?contentItem.imagelink : defaultImagePath }}"
    alt="thumbnail">
  <mat-card-content>
    <div appHighlightImportantData [isType]="true">
      <strong>Type:</strong> {{ contentItem?.type }}
    </div>
    <div *ngIf="contentItem?.hashtags" style="margin-top: 20px;">
      <h3><strong>Tags:</strong> </h3>
      <div *ngFor="let tag of contentItem?.hashtags">
        <button mat-raised-button color="primary" style="margin: 5px;">{{ tag }}</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
